<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:error] %>
  <div id="global_error">
    <%= flash[:error] %>
  </div>
  <% end %>

  <% if logged_in? %>
    <%= link_to current_user.email, current_user %> |
    <%= button_to "Log out", session_url, :method => :delete %>
  <% else %>
  <%= button_to "Log in", new_session_url, :method => :get %> |
  <%= button_to "Sign up", new_user_url, :method => :get %>
  <% end %>

<%= yield %>

</body>
</html>
